:root {
  --header-link: #212121;
  --header-logo: #2196f3;
  --header-contact: #757575;
  --hero-color-footer: #2f303a;
  --background-color: #f5f4fa;
  --text-white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}
.link,
a {
  text-decoration: none;
}
.h-none {
  display: none;
}

/* ---------------HEADER------------- */

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-logo);
}
.logo-span-header {
  color: var(--hero-color-footer);
}
.logo-span-footer {
  color: var(--text-white);
}

.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--header-link);
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--header-logo);
}

.header-link:hover,
.header-link:focus {
  color: var(--header-logo);
}
.header-link-visited:first-child {
  color: var(--header-logo);
}

/* -----------------HERO------------------- */

.hero {
  background-color: var(--hero-color-footer);
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white);
}
.hero-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-white);
  background: var(--header-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:focus {
  color: var(--text-white);
  cursor: pointer;
}
.hero-btn:hover {
  color: white;
  background: #188ce8;
  cursor: pointer;
}

.hero-subtitle {
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-link);
}
.hero-lead {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ---------Чем мы занимаемся---------- */
.about-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-link);
}

/* -------------------Наша команда----------------- */
.team {
  background-color: var(--background-color);
}
.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-link);
}

.team-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-lead {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ------------Контактная информация------------ */
.footer {
  background-color: var(--hero-color-footer);
}
.footer-logo {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-logo);
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-white);
  font-style: normal;
}
.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer-contact:focus,
.footer-contact:hover {
  color: var(--header-logo);
}
.footer-link:focus,
.footer-link:hover {
  color: var(--header-logo);
}

/* --------------PORTFOLIO--------------- */

/* BUTTON */
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-link);
  background: #f5f4fa;
}
.portfolio-btn:focus,
.portfolio-btn:hover {
  color: var(--header-logo);
  cursor: pointer;
}
.header-link-visited:first-child {
  color: var(--header-logo);
}

.portfolio-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.portfolio-btn:hover {
  background: #2196f3;
  color: var(--text-white);
}

.portfolio-btn-visited {
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-white);
  background: var(--header-logo);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-btn-visited:focus {
  color: #ffffff;
}

/* HERO */
.portfolio-subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-link);
}
.hero-portfolio-lead {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Контактная информация */
.footer-portfolio {
  background-color: var(--hero-color-footer);
}

.footer-portfolio-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-white);
  font-style: normal;
}
.footer-portfolio-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer-portfolio-contact:focus,
.footer-portfolio-contact:hover {
  color: var(--header-logo);
}
.footer-portfolio-link:focus,
.footer-portfolio-link:hover {
  color: var(--header-logo);
}
